<!DOCTYPE html>
<html>
<head>
    <title>Formulario</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <form method="POST" action='/'>
        <label for ="name">Name:</label>
        <input type="text" name="name" required><br>
        <label for="dojolocation">Dojo location:</label>
        <input type="text" name="dojolocation" required><br>
        <label for="options">favorite lenguage:</label>
        <select id="options" name="options">
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
        </select>
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" rows="2" cols="30"></textarea>
        <input type ='submit' value='Enviar'>
    </form>
</body>
</html>